.skills_container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 45, 24, 1) 5%, rgba(0, 45, 24, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6rem 0 4rem 0;
}
.skills_container > h1{
    color: white;
    position: relative;
    font-family: "Figtree";
    font-weight: 500;
}
.skills_container > h1::after{
    content: "";
    position: absolute;
    width: 60%;
    height: 3px;
    border-radius: 1.5px;
    background-color: white;
    left: 0;
    bottom: 0;
}
.skills_container > h2{
   color: white;
   font-family: "Figtree";
   /* font-size: 17.8px; */
   font-size: 17.3px;
   max-width: 500px;
   text-align: center;
   margin: 1.2rem 0 2rem 0;
   font-weight: 400;
}
.skills_first_squares_container,
.skills_second_squares_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* background-color: aliceblue; */
}
.skills_first_square,
.skills_second_square,
.skills_third_square,
.skills_forth_square{
    background-color: white;
    padding: 30px 20px;
    margin: 10px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
    min-width: 400px;
    max-height: 175px;
    min-height: 175px;
}
.skills_first_square > h1,
.skills_second_square > h1,
.skills_third_square > h1,
.skills_forth_square > h1{
    color: var(--green);
    font-family: "Figtree";
    font-size: 21px;
    font-weight: 600;
    margin: 3px 0;
}
.skills_first_square > p,
.skills_second_square > p,
.skills_third_square > p,
.skills_forth_square > p{
    max-width: 25vw;
    font-family: "Figtree";
    font-size: 16px;
    color: #002d18b0;
}
/*
 icons 
 */
.skills_html_icons > svg{
   width: 20px;
   height: 20px;
}
.skills_html_icons > svg:first-child{
 color: #007dff;
 margin-right:5px;
}
.skills_html_icons > svg:nth-child(2){
    color: red;
}
.skills_js_icons > svg{
    color: #dfcb4a;
    width: 20px;
    height: 20px;
}
.skills_react_icons > svg{
    width: 20px;
    height: 20px;
    color: #45ac98;
}
.skills_other_icons > svg{
    width: 20px;
    height: 20px;
    margin-right:5px;
}
.skills_other_icons > svg:first-child{
    color: #f7c52c;
}
.skills_other_icons > svg:nth-child(2){
   color: #7952b3;
}
.skills_other_icons > svg:nth-child(3){
  color: #f05032;
} 
.skills_other_icons > svg:nth-child(4){
color: black;
}
.skills_other_icons > svg:nth-child(5){
    color: #a0adbc;
}

@media screen and (max-width: 1050px){
    .skills_container{
        padding: 4rem 15px;
    }
    .skills_first_square,
    .skills_second_square,
    .skills_third_square,
    .skills_forth_square{
     flex: 1;
     min-width: unset;
    }
    .skills_first_square{
     margin: 0 5px 5px 0;
    }
    .skills_second_square{
     margin: 0 0 5px 5px;
    }
    .skills_third_square{
        margin: 5px 5px 0 0;
    }
    .skills_forth_square{
        margin: 5px 0 0 5px;
    }

    .skills_first_square > p,
    .skills_second_square > p,
    .skills_third_square > p,
    .skills_forth_square > p{
       max-width: 100%;
    }
}
@media screen and (max-width: 650px){
    .skills_first_squares_container,
    .skills_second_squares_container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .skills_first_square,
    .skills_second_square,
    .skills_third_square,
    .skills_forth_square{
     width: 500px;
     margin:7.5px;
    }
}
@media screen and (max-width: 520px){
    .skills_container{
        padding-bottom: 5.5rem;
    }
    .skills_container > h1{
       margin-top: 2rem;
    }
    .skills_first_square,
    .skills_second_square,
    .skills_third_square,
    .skills_forth_square{
     width: 100%;
     padding: 0 15px;
     max-height: unset;
     min-height:150px;
     display: flex;
     align-items: flex-start;
     justify-content: center;
     flex-direction: column;
    }
    .skills_container > h2{
        width: 100%;
        max-width: unset
    }
    .skills_first_square > h1,
    .skills_second_square > h1,
    .skills_third_square > h1,
    .skills_forth_square > h1{
     font-size: 18px;
}
.skills_container > h2{
   margin: 1rem 0 1.5rem 0;
}
}