.footer_container{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2.5rem 0 1.5rem 0;
}
.footer_question{
    width: 100%;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:2rem 0;
    min-height: 130px;
}
.footer_question h1{
     font-size: 21px;
     color: white;
     font-family: "Figtree";
     margin-bottom: 10px;
     font-weight: 500;
}
.footer_question button{
  color: var(--green);
  background-color: white;
  padding: 7px 14px;
  border: none;
  font-weight: 500;
  font-family: "Figtree";
  cursor: pointer;
  transition: 0.2s;
  font-size: 14px;
}
.footer_question button:hover{
    background-color: rgb(238, 238, 238);
}
.footer_mail{
    font-family: "Figtree";
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.footer_mail > svg{
    margin: 0 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: white;
}
.footer_links_and_text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer_links_and_text > div:first-child a{
    text-decoration: none;
    font-weight: 400;
}
.footer_links_and_text > div:first-child svg{
      width: 25px;
      height: 25px;
      color: var(--green);
      cursor: pointer;
      margin: 2rem 10px 1.3rem 10px;
}
.footer_links_and_text > div:nth-child(2){
    display: flex;
    flex-direction: row;
}
.footer_links_and_text > div:nth-child(2) p{
   font-family: "Figtree";
   text-decoration: none;
   margin:0 12px;
   color: var(--green);
   cursor: pointer;
   font-size: 14.5px;
   font-weight: 500;
}
.footer_links_and_text > div:nth-child(3){
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: row;
   padding: 0 4rem;
   margin-top: 25px;
}
.footer_links_and_text > div:nth-child(3) p{
    font-family: "Figtree";
    color: var(--green);
    font-size: 16px;
    font-weight: 400;
}
.footer_links_and_text > div:nth-child(3) p:first-child{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.footer_links_and_text > div:nth-child(3) p:first-child svg{
  color: red;
  margin-left: 5.5px;
  width: 17px;
  height: 17px;
}

@media screen and (max-width:500px){
    .footer_question h1{
        font-size: 18px;
    }
    .footer_links_and_text{
        padding: 0 15px;
    }
    
    .footer_links_and_text div:nth-child(3){
        width: 100%;
        padding: 0;
    }
    .footer_links_and_text div:nth-child(3) p:nth-child(2) {
        text-align: end;
    }
    .footer_links_and_text div:nth-child(3) p:first-child{
        display: block;
        text-align: start;
        margin-right: 15px;
    }
}